body{
	background: #aaaaaa;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#organizer{
	position:relative;
	margin: 0px auto;
	width: 460px;
	height: 520px;
}
#navigation{
	float: left;
	width: 100px;
}
.navButton{
	background: #dddddd;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	cursor:pointer;
	
	margin-right:10px;
	margin-bottom:10px;
	padding:3px;
	padding-top:8px;
	padding-bottom:8px;
	
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.navButtonCodex{
	width: 45px;
	background: #dddddd;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	cursor:pointer;
	float: left;
	
	margin-right:4px;
	margin-bottom:10px;
	padding:3px;
	padding-top:8px;
	padding-bottom:8px;
	
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.navButtonCodexInactive{
	width: 45px;
	background: #dddddd;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	float: left;
	
	margin-right:4px;
	margin-bottom:10px;
	padding:3px;
	padding-top:8px;
	padding-bottom:8px;
	
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#ppMain{
	float: left;
	background: #dddddd;
	width: 540px;
	height: 520px;
	text-align:center;
	
	/*border-style:solid;
	border-width:1px;
	border-color:#000000;*/
}
#mainBody{
	padding: 10px;
}
.genericPetImageContainer{
	cursor: pointer;
	width:128px; 
	height:128px;
	background: #ffffff;
	opacity: 0.8; filter: alpha(opacity=80);
	border-style:solid; 
	border-width:1px; 
	border-color:#000000; 
	margin:0px auto;
	padding: 8px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.unknownPetImage{
	width: 128px;
	height: 128px;
	background-image: url('images/unknown.png');
}
.genericPetImage{
	width: 128px;
	height: 128px;
	background: #000000;
	background-image: url('images/eggs_and_pets_big_reverse.png');
}
.codexImageContainer{
	cursor: pointer;
	width:128px; 
	height:128px;
	background: #ffffff;
	opacity: 0.8; filter: alpha(opacity=80);
	border-style:solid; 
	border-width:1px; 
	border-color:#000000; 
	
	padding: 8px;
	margin: 4px;
	float: left;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#footer{
	font-size: 12px;
	float: right;
	margin-top:5px;
	text-align: right;
}
.actionButton{
	background: #ffffff;
	color: #000000;
	font-family: "Lucida Console", Monaco, monospace;
	font-size:14px;
	float:left;
	cursor:pointer;
	
	padding: 10px;
	padding-top:5px;
	padding-bottom:5px;
	margin: 10px;
	
	outline: 1px solid black;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.actionButton:hover{
	outline: 2px solid black;
}
.actionButtonDisabled{
	background: #dddddd;
	color: #777777;
	font-family: "Lucida Console", Monaco, monospace;
	font-size:14px;
	float:left;
	cursor:default;
	
	padding: 10px;
	padding-top:5px;
	padding-bottom:5px;
	margin: 10px;
	
	outline: 1px solid #555555;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.clearer{
	clear:both;
}
#backToCakeandturtles{
	font-size: 10px;
	position: fixed;
	left: 3px;
	bottom: 3px;
}
#themeSelector{
	font-size: 10px;
	position: fixed;
	right: 36px;
	bottom: 12px;
    scale: 1.5;
}
.themeBox{
	float: left;
	width:10px;
	height:10px;
	margin-left:3px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}
#overlay {
     visibility: hidden;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     text-align:center;
     z-index: 200;
	 background-color: #ceb6c3;
     opacity:0.7;
	 filter:alpha(opacity=70);
}
#overlay2{
     visibility: hidden;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     text-align:center;
     z-index: 400;
}
#notification {
     width:320px;
     margin: 100px auto;
	 position: relative;
	 left: 0;
	 top: 32px;
     background-color: #ffffff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
	 box-shadow: rgba(0, 0, 0, .2) 4px 4px 5px;
}
#closeNote{
	position: relative;
	top: -6px;
	right: -3px;
	float: right;
	text-decoration:none;
}
input[type="text"]{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
#navigation .navButton {
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 14px;
}
#myPetsTabReleasePet {
  width: 56px;
}
#myPetsTabLevel {
  font-weight: bold;
}
pre {
    display: inline;
    margin: 0;
}
